{% extends 'main.html' %}
{% load staticfiles %}

{% block article %}
    <h5>Дата публикации: {{ article.article_date }}</h5>
    <h4>{{ article.article_title }}</h4>
    <p align="justify">{{ article.article_text }}</p>
    <p><a href="/articles/addlike/{{ article.id }}"><img src="{% static 'like.jpg' %}" width="25" height="25"></a>{{ article.article_likes }}</p>
    <hr>

    {% if username %}
    <form action="/articles/addcomment/{{ article.id }}/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="button" value="Добавить комментарий">
    </form>
    {% endif %}

    <p>Комментарии:</p>
    {% for comment in comments %}
        <p align="justify">{{ comment.comments_text }}</p>
    {% endfor %}
{% endblock %}